.root table {
  border-collapse: collapse;
}

.root th {
  text-align: left;
  font-weight: 700;
  font-size: large;
}

.root thead {
  border-bottom: var(--border-width) solid var(--primary-clr);
}

.root tbody tr {
  border-bottom: var(--border-width) solid rgba(45, 58, 71, 0.25);
}

.root tbody tr:hover {
  background: #dbebff;
}

.root tbody tr td:first-child {
  text-transform: capitalize;
}

.root th,
.root td {
  padding: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 19px;
}

.alignCenter {
  text-align: center !important;
}

.clickable {
  cursor: pointer;
}

.subtitle {
  display: block;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  top: 5px;
}
